<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/styles.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calculator!</title>
  <meta name="description" content="Calculator!">
  <meta name="author" content="Akif9748">
  <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">

</head>


<body align="center">
  <h1>Enter the value:</h1>
  <form action="/" method="POST">
    <input class="input" type="text" name="girdi"><br><br>
    <button class="button" type="submit">Calculate!</button>
  </form>
</body>

</html>