<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/styles.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calculator!</title>
  <meta name="description" content="Calculator!">
  <meta name="author" content="Akif9748">
  <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">

</head>

<body align="center">
  <h1>Result!</h1>
  <h3 class="button">
    <%=result%>
  </h3>
  <br>
  <button class="button"
  onclick="window.location.href = '/'">New Calculate</button>
</body>

</html>